@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --link-color: #3b82f6;
  --brand-color: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
}

.text-effect {
  transition: color 0.2s ease-in-out;
}